{% extends 'main.html' %}

{% block content %}

<div class="youtube">
    <h4>Popular YouTube Music</h4>
    <div class="section">
        {% if yt_trending %}
        {% for trend in yt_trending %}
            <div id={{trend["id"]}} class="video card mx-3 my-3">
                <a href="https://youtu.be/{{trend['id']}}" target="_blank">
                    <img class="card-img-top" src={{trend["snippet"]["thumbnails"]["high"]["url"]}} alt="">
                    <div class="card-body">
                        
                        <div class="d-flex media-content">
                            <div class="content-holder">
                                <h6 class="card-title mt-2">{{trend["snippet"]["title"]}}</h6>
                                <p class="card-text channel">{{trend["snippet"]["channelTitle"]}}</p>
                            </div>
                            <i class="action-tab bi bi-three-dots-vertical my-2"></i>
                        </div>
                    </div>
                </a>
                
            </div>
        {% endfor %}
        {% endif %}
    </div>
    
</div>

<div class="spotify">
    <h4>Recommended Spotify Music</h4>
    <div class="section">
        {% if spot_recommended %}
        {% for rec in spot_recommended %}
            <div id={{rec["id"]}} class="song card mx-3 my-3">
                <a href="https://open.spotify.com/track/{{rec['id']}}" target="_blank">
                    <img class="card-img-top" src={{rec["album"]["images"][0]["url"]}} alt="">
                    <div class="card-body">
    
                        <div class="d-flex media-content">
                            <div class="content-holder">
                                <h6 class="card-title mt-2">{{rec["name"]}}</h6>
                                <p class="card-text artist">{{rec["artists"][0]["name"]}}</p>
                            </div>
                            <i class="action-tab bi bi-three-dots-vertical my-2"></i>
                        </div>
                    </div>
                </a>
                
            </div>
        {% endfor %}

        {% else %}
            <p>No recommended songs</p>
        {% endif %}
    </div>
    
</div>

<div id="actions" class="dropdown-menu dropdown-menu-dark">
    <li id="add-action" class="dropdown-item">Add to Playlist</li>
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                Add to....
            </div>
            <form id="add-form">
                <div id="existing-playlists">
                    {% for playlist in playlists %}
                    <div class="form-check">
                        <input class="form-check-input playlist-check" type="checkbox" value="" id={{playlist.id}}>
                        <label class="form-check-label" for={{playlist.id}}>
                          {{playlist.name}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                
                <div id="create-form" class="my-3">
                    <label for="playlist-name">Name</label>
                    <input id="playlist-name" type="text">
                    <label for="desc">Description</label>
                    <textarea name="" id="desc" rows="4"></textarea>
                </div>
                <button id="add-btn" class="btn btn-primary mt-2" type="submit" disabled>
                    Add
                </button>
            </form>
            <button id="create-playlist-btn" class="btn btn-secondary mx-3 mb-3">Create Playlist</button>
        </div>    
    </div>
</div>

<script src="{{url_for('.static', filename='js/home.js')}}"></script>

<!-- <a href="/create-yt-playlist">YT Playlist</a>
    <a href="/create-spotify-playlist">Spotify Playlist</a>
    <form action="/yt-test">
        <button>Test</button>
    </form>
    <form action="/spot-test">
        <button>Test</button>
    </form> -->

{% endblock %}